<h1> <%= @cocktail.name %> </h1>
 <% @cocktail.doses.each do |dose| %>
  <h3>
    <%= dose.ingredient.name %>
    <%= dose.description %>
  </h3>
<% end  %>

<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Back to Homepage", cocktails_path %>
